.dashboard {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #020202;
    padding: 20px;
    box-shadow: 0 0 10px rgba(220, 230, 213, 0.1);
    height: 100vh;
    position: fixed;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .content {
    margin-left: 150px;
    padding: 10px;
  }
  
  .accordion-button {
    background-color: #f4f40b;
    color: #e7d9d9;
  }
  
  .accordion-button:not(.collapsed) {
    color: #ef1212;
    background-color: #0e0f0f;
  }
  
  .accordion-body {
    padding: 0;
  }
  
  .accordion-body ul {
    list-style: none;
    padding: 0;
  }
  
  .accordion-body ul li {
    padding: 5px;
  }
  
  .accordion-body ul li a {
    text-decoration: none;
    color: #111111;
    display: flex;
    align-items: center;
  }
  
  .accordion-body ul li a:hover {
    text-decoration: underline;
    color: #030303;
    background-color: #5cb707;
  }
  